/* FONT: */
@font-face {
    font-family: "Gotham light";
    src: url("fonts/Gotham-Font/Gotham-Light.otf");
    font-weight: light;
    font-style: normal;
}

@font-face {
    font-family: "Gotham";
    src: url("fonts/Gotham-Font/Gotham-Bold.otf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Gotham black";
    src: url("fonts/Gotham-Font/Gotham-Black.otf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Gotham light italic";
    src: url("fonts/Gotham-Font/GothamLightItalic.ttf");
    font-weight: bold;
    font-style: normal;
}

/* universal/HTML: */
body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    font-family: "Gotham";
}

/* HEADER: */
.header {
    margin: 0;
    display: flex;
    max-height: 80px;
    color: white;
    background-color: black;
}

#logo {
    padding: 20px 0px 20px 40px;
    flex-basis: 135px;
}

#logo img {
    max-width: 100%;
    max-height: 100%;
}

#logo-text {
    font-family: "Gotham light";
    font-size: 25px;
    align-self: center;
}

#logo-text #for {
    font-size: 24px;
    padding-right: 4px;
    padding-left: 2px;
}

/* HEADLINE: */
.headline {
    display: flex;
    justify-content: space-evenly;
    gap: 5vw;
    padding: 0 10vw 5vw 10vw;
    background-color: black;
    color: white;
}

.headline .hero-text {
    flex: 1 1 0;
}

.headline h1 {
    font-family: "Gotham";
    font-weight: bold;
    font-size: 60px;
    line-height: 4.5rem;
    padding: 0px 50px 0px 0px;
    margin: 0px;
}

.headline h1 span{
    font-family: "Gotham light";
    font-size: 40px;

}

.headline p {
    font-family: "Gotham light";
    font-size: 17px;
    line-height: 1.5rem;
}

.headline a {
    font-family: "Gotham";
    text-decoration: none;
    color: white;
}

.headline .image-container {
    flex: 1 1 300px;
    align-self: flex-end;
}

.headline .image-container img {
    width: 300px;
    height: 300px;
}


/* FAVE-TRACKS-TITLE: */
.fave-tracks-title {
    flex: 1 1 0;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-family: "Gotham black";
    font-size: 30px;
    background-color: rgb(24, 24, 24);
    color: white;
}

/* FAVE-TRACKS: */
.fave-tracks {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 50px;
    color: white;
    background-color: rgb(24, 24, 24);
}

.track {
    text-align: center;
}

.track img {
    width: 80%;
    height: 80%;
    border-color: black;
    border-width: 3px;
    border-style: solid;
}

.track .title {
    font-family: "Gotham light";
    margin: 10px 0px 5px 0px;
}


/* song-lyrics: */
.song-lyrics {
    padding: 50px 12vw 50px 12vw;
    text-align: center;
    background-color: rgb(30, 215, 96);
    color: white;
}

.lyrics {
    font-family: "Gotham";
    font-size: 60px;
    margin-bottom: 15px;
}

.lyrics span {
    font-family: "Gotham light";
    font-size: 60px;
}

.song-lyrics .artist {
    text-align: right;
    font-family: "Gotham light italic";
    font-size: 40px;
}

/* call-to-action: */
.call-to-action {
    padding: 10px 100px 10px 100px;
    display: flex;
    border-radius: 10px;
    margin: 5vw;
    background-color: black;
    color: white;
}

.call-to-action .text {
    flex: 1.5 1 0;
    text-align: center;
}

.call-to-action .text h1 {
    font-family: "Gotham";
    margin-bottom: 5px;
    margin-top: 15px;
}

.call-to-action .text p {
    margin-top: 5px;
    font-family: "Gotham light";
}

.call-to-action .button {
    flex: 1 1 0;
    align-self: center;
    text-align: center;
}

.call-to-action .button a {
    border-radius: 4px;
    padding: 5px;
    border: 2px solid white;
}

/* footer:  */
.footer {
    padding: 20px 0;
    font-family: "Gotham light";
    font-size: 16px;
    color: grey;
    background-color: black;
    text-align: center;
}
